
@{
    ViewBag.Title = "Platillos";
}
<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MenuGratis</title>
    <!-- Script para la funcion de alertas -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

    <button onclick="mostrarFormulario()">Formulario</button>

    <script>
        // Funcion alerta con formulario
        function mostrarFormulario() {
            Swal.fire({
                title: 'Ingrese los detalles de su platillo',
                html:
                    '<input id="nombre" class="swal2-input" placeholder="Nombre">' +
                    '<textarea id="descripcion" class="swal2-textarea" placeholder="Descripción"></textarea>' +
                    '<input id="nombre" class="swal2-input" type="number" placeholder="Precio">' +
                    '<select id="opciones" class="swal2-select">' +
                    '<option value="" disabled selected>Selecciona el tipo de platillo</option>' +
                    '<option value="opcion1">Desayuno</option>' +
                    '<option value="opcion2">Entrada</option>' +
                    '<option value="opcion3">Plato Fuerte</option>' +
                    '<option value="opcion4">Postre</option>' +
                    '</select>' +
                    '<input type="file" id="imagen" class="swal2-file" accept=".png, .jpg">',
                showCancelButton: true,
                confirmButtonText: 'Añadir',
                cancelButtonText: 'Cancelar',
                preConfirm: () => {
                    const nombre = Swal.getPopup().querySelector('#nombre').value;
                    const descripcion = Swal.getPopup().querySelector('#descripcion').value;
                    const precio = Swal.getPopup().querySelector('#precio').value;
                    const opcionSeleccionada = Swal.getPopup().querySelector('#opciones').value;
                    const imagen = Swal.getPopup().querySelector('#imagen').files[0];


                    console.log('Nombre:', nombre);
                    console.log('Descripción:', descripcion);
                    console.log('Precio:', precio);
                    console.log('Opción seleccionada:', opcionSeleccionada);
                    console.log('Imagen:', imagen);
                }
            });
        }
    </script>
</body>
</html>